<?xml version="1.0"?>
<config>
    <modules>
        <Demidov_Customapi>
            <version>1.0.0</version>
        </Demidov_Customapi>
    </modules>
    <global>
        <helpers>
            <customapi>
                <class>Demidov_Customapi_Helper</class>
            </customapi>
        </helpers>
        <models>
            <customapi>
                <class>Demidov_Customapi_Model</class>
                <resourceModel>customapi_resource</resourceModel>
            </customapi>
            <customapi_resource>
                <class>Demidov_Customapi_Model_Resource</class>
                <entities>
                    <support_log>
                        <table>customapi_support_log</table>
                    </support_log>
                    <token_bearer>
                        <table>customapi_token_bearer</table>
                    </token_bearer>
                </entities>
            </customapi_resource>
        </models>
        <resources>
            <customapi_setup>
                <setup>
                    <module>Demidov_Customapi</module>
                </setup>
            </customapi_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <customapi_admin>
                <use>admin</use>
                <args>
                    <module>Demidov_Customapi</module>
                    <frontName>custom_api</frontName>
                </args>
            </customapi_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <customapi module="Demidov_Customapi">
                <title>Custom API</title>
                <sort_order>80</sort_order>
                <action>custom_api/adminhtml_main</action>
            </customapi>
        </menu>
    </adminhtml>
</config>