<?xml version="1.0"?>
<config>
    <!-- Объявление модуля: Начало -->
    <modules>
        <Magentotutorial_Complexworld>
            <version>0.2.0</version>
        </Magentotutorial_Complexworld>
    </modules>
    <!-- Объявление модуля: Конец -->
    <!-- ... -->
    <frontend>
        <!-- Создание роутинга: Начало -->
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>
        <!-- Создание роутинга: Конец -->
    </frontend>
    <!-- ... -->
    <global>
        <models>
            <!-- Объявление модели: Начало -->
            <complexworld>
                <class>Magentotutorial_Complexworld_Model</class>
                <resourceModel>complexworld_resource</resourceModel>
            </complexworld>
            <!-- Объявление модели: Конец -->
            <!-- Объявление ресурса EAV модели: Начало -->
            <complexworld_resource>
                <class>Magentotutorial_Complexworld_Model_Resource</class>
                <entities>
                    <eavblogpost>
                        <table>eavblog_posts</table>
                    </eavblogpost>
                </entities>
            </complexworld_resource>
            <!-- Объявление ресурса EAV модели: Конец -->
        </models>
        <!-- Объявление установочного ресурса: Начало -->
        <resources>
            <complexworld_setup>
                <setup>
                    <module>Magentotutorial_Complexworld</module>
                    <class>Magentotutorial_Complexworld_Model_Resource_Setup</class>
                </setup>
            </complexworld_setup>
        </resources>
        <!-- Объявление установочного ресурса: Конец -->
    </global>
</config>