<?xml version="1.0"?>
<config>
    <modules>
        <D13_Customapi>
            <version>1.0.0</version>
        </D13_Customapi>
    </modules>
    <global>
        <helpers>
            <Customapi>
                <class>D13_Customapi_Helper</class>
            </Customapi>
        </helpers>
        <models>
            <Customapi>
                <class>D13_Customapi_Model</class>
                <resourceModel>Customapi_resource</resourceModel>
            </Customapi>
            <Customapi_resource>
                <class>D13_Customapi_Model_Resource</class>
                <entities>
                    <support_log>
                        <table>customapi_support_log</table>
                    </support_log>
                    <token_bearer>
                        <table>customapi_token_bearer</table>
                    </token_bearer>
                </entities>
            </Customapi_resource>
        </models>
        <resources>
            <Customapi_setup>
                <setup>
                    <module>D13_Customapi</module>
                </setup>
            </Customapi_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <Customapi_admin>
                <use>admin</use>
                <args>
                    <module>D13_Customapi</module>
                    <frontName>custom_api</frontName>
                </args>
            </Customapi_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <Customapi module="D13_CustomApi">
                <title>Custom Api</title>
                <sort_order>80</sort_order>
                <action>custom_api/adminhtml_main</action>
            </Customapi>
        </menu>
    </adminhtml>
</config>