<?xml version="1.0"?>
<config>
    <modules>
        <D13_CustomApi>
            <version>1.0.0</version>
        </D13_CustomApi>
    </modules>
    <admin>
        <routers>
            <CustomApi_admin>
                <use>admin</use>
                <args>
                    <module>D13_CustomApi</module>
                    <frontName>custom_api</frontName>
                </args>
            </CustomApi_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <CustomApi module="D13_CustomApi">
                <title>Custom Api</title>
                <sort_order>80</sort_order>
                <action>custom_api/adminhtml_main</action>
            </CustomApi>
        </menu>
    </adminhtml>
    <global>
        <models>
            <CustomApi>
                <class>D13_CustomApi_Model</class>
                <resourceModel>CustomApi_resource</resourceModel>
            </CustomApi>
            <CustomApi_resource>
                <class>D13_CustomApi_Model_Resource</class>
                <entities>
                    <support_log>
                        <table>customapi_support_log</table>
                    </support_log>
                    <token_bearer>
                        <table>customapi_token_bearer</table>
                    </token_bearer>
                </entities>
            </CustomApi_resource>
        </models>
        <resources>
            <CustomApi_setup>
                <setup>
                    <module>D13_CustomApi</module>
                </setup>
            </CustomApi_setup>
        </resources>
        <helpers>
            <CustomApi>
                <class>D13_CustomApi_Helper</class>
            </CustomApi>
        </helpers>
    </global>
</config>